/*-- Import Starts --*/

@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

/*-- Import Ends --*/
/*-- Body Starts --*/

body {
    background-color: rgba(139, 157, 168, 0.7);
    position: relative;
}

h1{
    text-align: center;
    font-size-adjust: auto;
}

h2{
    text-align: center;
    font-size-adjust: auto;
}

li{
    text-align: center;
    font-size-adjust: auto;
    list-style-type: none;
}

/*-- Body Ends --*/
/*-- Buttons Starts --*/

.buttons {
 margin-left: 500px;
 margin-top: 5px;
}

.startButton {
    margin: 15px;
    height: 30px;
    width: 50px;
    background-color: black;
    color: white;
    font-size: 10px;
}

.strictButton {
    margin: 15px;
    height: 30px;
    width: 50px;
    background-color: black;
    color: white;
    font-size: 10px;
}

.onOffButton {
    margin: 15px;
    height: 30px;
    width: 50px;
    background-color: black;
    color: white;
    font-size: 10px;
}


/*-- Buttons Ends --*/
/*-- Counter Starts --*/

.turn {
    position: absolute;
    background: white;
    color: black;
    font-family: 'Michroma', sans-serif;
    font-size: 27px;
    height: 45px;
    width: 80px;
    margin-left: 576px;
    margin-top: 243px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    border-radius: 35px;
}

/*-- Counter Ends --*/
/*-- Color Buttons Starts --*/
/*-- Red Button Starts --*/

#red {
    display: inline-block;
    border: 2px solid white;
    background-color: darkred;
    height: 130px;
    width: 130px;
    margin-top: 100px;
    margin-left: 450px;
    border-radius: 60px 10px 10px 10px;

}

#red.active {
    background-color: #ffb3b3;
    border-radius: 60px 10px 10px 10px;
}

#red.disable {
    pointer-events: none;
}

/*-- Red Button Ends --*/
/*-- Blue Button Starts --*/

#blue {
    display: inline-block;
    border: 2px solid white;
    background-color: darkblue;
    height: 130px;
    width: 130px;
    margin-top: 100px;
    border-radius: 10px 60px 10px 10px;
}

#blue.active {
    background-color: #b3d9ff;
    border-radius: 10px 60px 10px 10px;
}

#blue.disable {
    pointer-events: none;
}

/*-- Blue Button Ends --*/
/*-- Yellow Button Starts --*/

#yellow {
    display: inline-block;
    border: 2px solid white;
    background-color: #cc9900;
    height: 130px;
    width: 130px;
    margin-left: 450px;
    border-radius: 10px 10px 10px 60px;
}

#yellow.active {
    background-color: #ffffb3;
    border-radius: 10px 10px 10px 60px;
}

#yellow.disable {
    pointer-events: none;
}

/*-- Yellow Button Ends --*/
/*-- Green Button Starts --*/

#green {
    display: inline-block;
    border: 2px solid white;
    background-color: darkgreen;
    height: 130px;
    width: 130px;
    border-radius: 10px 10px 60px 10px;
}

#green.active {
    background-color: #b3ffb3;
    border-radius: 10px 10px 60px 10px;
}

#green.disable {
    pointer-events: none;
}

/*-- Green Button Ends --*/
/*-- Color Buttons Starts --*/
/*-- Media Query Starts --*/

@media (min-width: 320px) {

/*-- Buttons Starts --*/

.buttons {
    margin-left: 35px;
}

.startButton {
    margin: 15px;
    height: 30px;
    width: 50px;
    background-color: black;
    color: white;
    font-size: 10px;
}

.strictButton {
    margin: 15px;
    height: 30px;
    width: 50px;
    background-color: black;
    color: white;
    font-size: 10px;
}

.onOffButton {
    margin: 15px;
    height: 30px;
    width: 50px;
    background-color: black;
    color: white;
    font-size: 10px;
}

/*-- Buttons Ends --*/
/*-- Counter Starts --*/

.turn {
    position: absolute;
    background: white;
    color: black;
    font-family: 'Michroma', sans-serif;
    font-size: 27px;
    height: 45px;
    width: 80px;
    margin-left: 116px;
    margin-top: 125px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    border-radius: 35px;
}

/*-- Counter Ends --*/
/*-- Color Buttons Starts --*/
/*-- Red Button Starts --*/

#red {
    display: inline-block;
    border: 2px solid white;
    background-color: darkred;
    height: 130px;
    width: 130px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 60px 10px 10px 10px;

}

/*-- Red Button Ends --*/
/*-- Blue Button Starts --*/

#blue {
    display: inline-block;
    border: 2px solid white;
    background-color: darkblue;
    height: 130px;
    width: 130px;
    margin-top: 10px;
    border-radius: 10px 60px 10px 10px;
}

/*-- Blue Button Ends --*/
/*-- Yellow Button Starts --*/

#yellow {
    display: inline-block;
    border: 2px solid white;
    background-color: #cc9900;
    height: 130px;
    width: 130px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 60px;
}

/*-- Yellow Button Ends --*/
/*-- Green Button Starts --*/

#green {
    display: inline-block;
    border: 2px solid white;
    background-color: darkgreen;
    height: 130px;
    width: 130px;
    border-radius: 10px 10px 60px 10px;
}

/*-- Green Button Ends --*/

}

@media (min-width: 575px) {

/*-- Buttons Starts --*/

.buttons {
    margin-left: 250px;
}

/*-- Buttons Ends --*/
/*-- Counter Starts --*/

.turn {
    position: absolute;
    background: white;
    color: black;
    font-family: 'Michroma', sans-serif;
    font-size: 27px;
    height: 45px;
    width: 80px;
    margin-left: 335px;
    margin-top: 217px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    border-radius: 35px;
}

/*-- Counter Ends --*/
/*-- Color Buttons Starts --*/
/*-- Red Button Starts --*/

#red {
    display: inline-block;
    border: 2px solid white;
    background-color: darkred;
    height: 130px;
    width: 130px;
    margin-top: 100px;
    margin-left: 360px;
    border-radius: 60px 10px 10px 10px;

}

/*-- Red Button Ends --*/
/*-- Yellow Button Starts --*/

#yellow {
    display: inline-block;
    border: 2px solid white;
    background-color: #cc9900;
    height: 130px;
    width: 130px;
    margin-left: 360px;
    border-radius: 10px 10px 10px 60px;
}

/*-- Yellow Button Ends --*/

}

@media (min-width: 768px) {

/*-- Buttons Starts --*/

.buttons {
    margin-left: 250px;
}

/*-- Buttons Ends --*/
/*-- Counter Starts --*/

.turn {
    position: absolute;
    background: white;
    color: black;
    font-family: 'Michroma', sans-serif;
    font-size: 27px;
    height: 45px;
    width: 80px;
    margin-left: 335px;
    margin-top: 135px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    border-radius: 35px;
}

/*-- Counter Ends --*/
/*-- Color Buttons Starts --*/
/*-- Red Button Starts --*/

#red {
    display: inline-block;
    border: 2px solid white;
    background-color: darkred;
    height: 130px;
    width: 130px;
    margin-top: 20px;
    margin-left: 240px;
    border-radius: 60px 10px 10px 10px;

}

/*-- Red Button Ends --*/
/*-- Yellow Button Starts --*/

#yellow {
    display: inline-block;
    border: 2px solid white;
    background-color: #cc9900;
    height: 130px;
    width: 130px;
    margin-left: 240px;
    border-radius: 10px 10px 10px 60px;
}

/*-- Yellow Button Ends --*/

}

@media (min-width: 992px) {

/*-- Buttons Starts --*/

.buttons {
    margin-left: 410px;
}

.startButton {
    margin: 15px;
    height: 36px;
    width: 60px;
    font-size: 12px;
}

.strictButton {
    margin: 15px;
    height: 36px;
    width: 60px;
    font-size: 12px;
}

.onOffButton {
    margin: 15px;
    height: 36px;
    width: 60px;
    font-size: 12px;
}   

/*-- Buttons Ends --*/
/*-- Counter Starts --*/

.turn {
    position: absolute;
    background: white;
    color: black;
    font-family: 'Michroma', sans-serif;
    font-size: 27px;
    height: 45px;
    width: 80px;
    margin-left: 506px;
    margin-top: 300px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    border-radius: 35px;
}

/*-- Counter Ends --*/
/*-- Color Buttons Starts --*/
/*-- Red Button Starts --*/

#red {
    display: inline-block;
    border: 3px solid white;
    background-color: darkred;
    height: 180px;
    width: 180px;
    margin-top: 140px;
    margin-left: 360px;
    border-radius: 85px 15px 15px 15px;
}

/*-- Red Button Ends --*/
/*-- Blue Button Starts --*/

#blue {
    border: 3px solid white;
    height: 180px;
    width: 180px;
    border-radius: 15px 85px 15px 15px;
}

/*-- Blue Button Ends --*/
/*-- Yellow Button Starts --*/

#yellow {
    display: inline-block;
    border: 3px solid white;
    background-color: #cc9900;
    height: 180px;
    width: 180px;
    margin-left: 360px;
    border-radius: 15px 15px 15px 85px;
}

/*-- Yellow Button Ends --*/
/*-- Green Button Starts --*/

#green {
    border: 3px solid white;
    height: 180px;
    width: 180px;
    border-radius: 15px 15px 85px 15px;
}

/*-- Green Button Ends --*/

}

@media (min-width: 1200px) {
    
/*-- Buttons Starts --*/

.buttons {
    margin-left: 500px;
}

/*-- Buttons Ends --*/
/*-- Counter Starts --*/

.turn {
    position: absolute;
    background: white;
    color: black;
    font-family: 'Michroma', sans-serif;
    font-size: 27px;
    height: 45px;
    width: 80px;
    margin-left: 598px;
    margin-top: 264px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    border-radius: 35px;
}

/*-- Counter Ends --*/
/*-- Color Buttons Starts --*/
/*-- Red Button Starts --*/

#red {
    display: inline-block;
    border: 3px solid white;
    background-color: darkred;
    height: 180px;
    width: 180px;
    margin-top: 100px;
    margin-left: 450px;
    border-radius: 80px 15px 15px 15px;
}

#red.active {
    background-color: #ffb3b3;
    border-radius: 80px 15px 15px 15px;
}

/*-- Red Button Ends --*/
/*-- Blue Button Starts --*/

#blue.active {
    background-color: #b3d9ff;
    border-radius: 15px 80px 15px 15px;
}

/*-- Blue Button Ends --*/
/*-- Yellow Button Starts --*/

#yellow {
    display: inline-block;
    border: 3px solid white;
    background-color: #cc9900;
    height: 180px;
    width: 180px;
    margin-left: 450px;
    border-radius: 15px 15px 15px 80px;
}

#yellow.active {
    background-color: #ffffb3;
    border-radius: 15px 15px 15px 80px;
}

/*-- Yellow Button Ends --*/
/*-- Green Button Starts --*/

#green.active {
    background-color: #b3ffb3;
    border-radius: 15px 15px 80px 15px;
}

/*-- Green Button Ends --*/

}

@media (min-width: 2560px) {

/*-- Buttons Starts --*/

.buttons {
    margin-left: 1075px;
}

.startButton {
    margin: 20px;
    height: 65px;
    width: 110px;
    background-color: black;
    color: white;
    font-size: 30px;
}

.strictButton {
    margin: 20px;
    height: 65px;
    width: 110px;
    background-color: black;
    color: white;
    font-size: 30px;
}

.onOffButton {
    margin: 20px;
    height: 65px;
    width: 110px;
    background-color: black;
    color: white;
    font-size: 30px;
}

/*-- Buttons Ends --*/
/*-- Counter Starts --*/

.turn {
    position: absolute;
    background: white;
    color: black;
    font-family: 'Michroma', sans-serif;
    font-size: 50px;
    height: 80px;
    width: 150px;
    margin-left: 1216px;
    margin-top: 575px;
    text-align: center;
    vertical-align: middle;
    line-height: 72px;
    border-radius: 35px;
}

/*-- Counter Ends --*/
/*-- Color Buttons Starts --*/
/*-- Red Button Starts --*/

#red {
    display: inline-block;
    border: 6px solid white;
    background-color: darkred;
    height: 300px;
    width: 300px;
    margin-top: 300px;
    margin-left: 980px;
    border-radius: 130px 25px 25px 25px;

}

#red.active {
    background-color: #ffb3b3;
    border-radius: 130px 25px 25px 25px;
}

/*-- Red Button Ends --*/
/*-- Blue Button Starts --*/

#blue {
    display: inline-block;
    border: 6px solid white;
    background-color: darkblue;
    height: 300px;
    width: 300px;
    border-radius: 25px 130px 25px 25px;
}

#blue.active {
    background-color: #b3d9ff;
    border-radius: 25px 130px 25px 25px;
}

/*-- Blue Button Ends --*/
/*-- Yellow Button Starts --*/

#yellow {
    display: inline-block;
    border: 6px solid white;
    background-color: #cc9900;
    height: 300px;
    width: 300px;
    margin-left: 980px;
    border-radius: 25px 25px 25px 130px;
}

#yellow.active {
    background-color: #ffffb3;
    border-radius: 25px 25px 25px 130px;
}

/*-- Yellow Button Ends --*/
/*-- Green Button Starts --*/

#green {
    display: inline-block;
    border: 6px solid white;
    background-color: darkgreen;
    height: 300px;
    width: 300px;
    border-radius: 25px 25px 130px 25px;
}

#green.active {
    background-color: #b3ffb3;
    border-radius: 25px 25px 130px 25px;
}

/*-- Green Button Ends --*/

}

/*-- Media Query Ends --*/